* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background-color: black;
    z-index: -1;
}

body .navbarToggle .fas {
    display: none;
    color: gold;
    font-size: 40px;
    position: fixed;
    right: 40px;
    top: 33px;
    z-index: 101;
    cursor: pointer;
}

body .navbarToggle .active {
    display: block;
}


@media (max-width: 414px) {
    body div .fas {
        right: 20px;
        top: 20px;
    }
}



@media (min-width: 415px) and (max-width: 768px) {
    body div .fas {
        font-size: 45px;
        top: 45px;
    }
}

@media (max-width: 731px) and (orientation: landscape) {
    body div .fas {
        font-size: 30px;
        right: 20px;
        top: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1366px) {
    body div .fas {
        font-size: 60px;
        top: 40px;
    }
}

@media (min-width: 732px) and (max-width: 823px) and (orientation: landscape) {
    body div .fas {
        font-size: 42px;
        right: 20px;
        top: 20px;
    }
}

nav {
    display: block;
    position: fixed;
    top: -200px;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: .5s;
}

nav.active {
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding-right: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: gold;
    font-size: 30px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    display: flex;

}

nav ul li a::after {
    content: "";
    width: 80%;
    position: absolute;
    top: 75%;
    left: 100%;
    border-top: 3px solid gold;
    transition: .5s;

}

nav ul li a:hover::after {
    left: 10%;
}

@media (max-width: 414px) {
    nav {
        top: -550px;
    }

    nav ul {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.95);
        padding-right: 0;
        display: flex;
    }

    nav ul li a {
        border-bottom: 1px solid gold;
        display: block;
        text-align: center;
    }

    nav ul li:last-child a {
        border-bottom: none;
    }
}

@media (min-width: 415px) and (max-width: 768px) {
    nav ul li a {
        font-size: 28px;
        padding: 45px 20px;
    }
}

@media (max-width: 731px) and (orientation: landscape) {
    nav ul {
        background-color: rgba(0, 0, 0, 0.6);
        padding-right: 90px;
    }

    nav ul li a {
        font-size: 20px;
        padding: 20px 15px;
    }

}

@media (min-width: 769px) and (max-width: 1366px) {
    nav ul li a {
        font-size: 42px;
        padding: 35px;
    }
}

@media (min-width: 732px) and (max-width: 823px) and (orientation: landscape) {
    nav ul {
        background-color: rgba(0, 0, 0, 0.6);
        padding-right: 90px;
    }

    nav ul li a {
        font-size: 28px;
        padding: 20px 15px;
    }
}

header {
    position: relative;
    background-image: url(../img/bjjbg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

header img {
    z-index: 3;
}

header h1 {
    color: white;
    font-size: 80px;
    padding: 0 80px 10px 80px;
    border-bottom: 1px gold solid;
    z-index: 3;
    text-transform: uppercase;
}

header h1 span {
    color: gold;
}

header ul {
    z-index: 3;
    list-style: none;
    display: flex;
}

header ul li span {
    font-size: 48px;
    color: white;
    text-align: center;
}

header ul li span::after {
    content: "\00B7";
    color: gold;
    padding: 0 45px;
}

header ul li:last-child span::after {
    content: "";
    padding: 0;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

@media (max-width: 414px) {
    header h1 {
        font-size: 34px;
        padding: 10px 20px;
    }

    header ul li span {
        font-size: 28px;
    }

    header ul li span::after {
        padding: 0 15px;
    }
}

@media (min-width:415px) and (max-width: 768px) {
    header ul li span::after {
        padding: 0 40px;
    }
}

@media (max-width: 533px) and (orientation: landscape) {
    header h1 {
        font-size: 40px;
        padding: 40px 20px 5px 20px;
    }

    header ul li span {
        font-size: 25px;
    }

    header ul li span::after {
        padding: 0 20px;
    }
}

@media (min-width: 534px) and (max-width: 731px) and (orientation: landscape) {
    header h1 {
        font-size: 38px;
        padding: 5px 20px 5px 20px;
    }

    header ul li span {
        font-size: 25px;
    }

    header ul li span::after {
        padding: 0 20px;
    }

}

@media (width: 568px) and (orientation: landscape) {
    header h1 {
        font-size: 34px;
        padding: 0 20px 3px 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    header h1 {
        font-size: 80px;
    }

    header ul li span {
        font-size: 60px;
    }

    header ul li span::after {
        padding: 0 55px;
    }

    header {
        background-image: url(../img/bjjbgipad.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (min-width: 732px) and (max-width: 823px) and (orientation: landscape) {
    header h1 {
        font-size: 62px;
        padding: 0 20px 5px 20px;
    }

    header ul li span {
        font-size: 34px;
    }

    header ul li span::after {
        padding: 0 35px;
    }
}

.about {
    box-sizing: content-box;
    position: relative;
    min-height: 120vh;
    background-image: url(../img/bjjbg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20vh 0;
}

.about::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.fill {
    width: 35%;
}

.about h1 {
    align-self: center;
    color: white;
    font-size: 80px;
    padding: 0 80px 10px 80px;
    border-bottom: 1px gold solid;
    text-transform: uppercase;
    flex-grow: 1;
    text-align: center;
    z-index: 1;
}

.about>.aboutContainer {
    color: white;
    width: 50%;
    text-align: justify;
    z-index: 1;
}

.about>.aboutContainer:nth-of-type(3),
.about>.aboutContainer:nth-of-type(5) {
    padding: 2% 4% 2% 8%;
}

.about>.aboutContainer:nth-of-type(4),
.about>.aboutContainer:nth-of-type(6) {
    padding: 2% 8% 2% 4%;
}

.about>.aboutContainer h2 {
    font-size: 42px;
    padding-bottom: 10px;
    border-bottom: gold 1px solid;
    padding-left: 20px;

}

.about>.aboutContainer h2 span {
    color: gold;
}

.about>.aboutContainer p {
    font-size: 24px;
}

.offer {
    box-shadow: 0px -1px 22px -5px rgba(0, 0, 0, 0.56);
    display: flex;
    flex-flow: row wrap;
}

.offer>div {
    width: calc(100%/3);
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer>div>h2 {
    color: transparent;
    position: absolute;
    top: 6%;
    z-index: 5;
}

.offer>div>p {
    color: transparent;
    position: absolute;
    z-index: 5;
    padding-top: 30px;
}

.offer>div>p>span>i {
    display: none;
    padding-right: 5px;
    color: gold;
}

.offer>div>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    transition: transform .4s;
}

.offer>div:hover p span i {
    display: inline;
}

.offer>div:hover>img {
    transform: scale(1.2);
}

.offer>div:hover>h2 {
    color: gold;
    font-size: 65px;
    text-align: center;
}

.offer>div:hover>p {
    padding: 18px;
    color: white;
    font-size: 20px;
    text-align: center;

}


.offer>div:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    Cursor: pointer;
}